@import url(//fonts.googleapis.com/css?family=Bitter|Multi);


html {
    background-color: lightgray;
}

table, th, td {
    border: 2px solid dimgray;
    border-collapse: collapse;

}

.honors {
    background-color: #998542;
}

th {
    padding: 15px;
    font-family: "Times New Romans", Times, serif;
    font-size: large;
    background-color: maroon;
    color: white;
}

td {
    padding: 30px;
    text-align: center;
    background-color: whitesmoke;
}

h1.title {
    color: lightgray;
    background: maroon;
    text-align: center;
    height: 50px;
    font-family: 'Bitter', serif;

}
p{
    font-family: Verdana;
    font-size: 18px;
}

body.inputText {
    font-family: Verdana;

}

.padded-container {
    padding: 16px 100px;
    text-align: center;
}

h4.suggestion {
    margin: 0.25em;
    font-family: Verdana;
    text-align: center;
    color: maroon;
}

.credits {
    font-family: Verdana;
    text-align: center;
    margin: 12px;
}

h5 {
    font-size: 18px;
}