
html, body {
    background-color: lightgray !important;
    width: 100%
}

table, th, td {
    border: 2px solid dimgray;
    border-collapse: collapse;
}

table {
    table-layout: auto;
}

tr {
    text-align: center;
    border-color: maroon !important;
}

.honors {
    background-color: #998542 !important;
}

ul {list-style: none; margin: 0;
    padding: 0;}

th {
    padding: 12px !important;
    font-size: large;
    background-color: maroon !important;
    color: white;
}

td {
    padding: 20px !important;
    text-align: center;
    background-color: whitesmoke !important;
}

h1.title {
    color: lightgray;
    background: maroon;
    text-align: center;
    font-family: 'Bitter', serif;
    padding: 8px 0;
}
p{
    font-size: 18px;
}


.padded-container {
    padding: 16px 100px 0px 100px;
    text-align: center;
}

h5.suggestion {
    margin: 0.25em;
    text-align: center;
    color: maroon;
}

.credits {
    text-align: center;
    margin: 12px;
}

h5 {
    font-size: 18px;
}